.map{
    height: 200px;
    width: 80%;
    border-radius: 30px;
}
section{
text-align: center;
}
article{
    padding-top: 10%;
    margin: 10% 30% ;
    padding: 3%;
    transform: rotate(32deg);
    top: calc(200px +10%);
    width: 50%;
    height: 50%;
    opacity: .8;
}
p{
    box-sizing: border-box;
    transform: rotate(-15deg);
    padding: 5% 0;
    line-height: 30px;

}