aside{
    width: 30%;
    height: 400px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    font-size: 30px;
    text-shadow: black 0.1em 0.1em 0.2em
  }
  aside>a{
    width: 100%;
    flex-grow: 1;
    text-align: center;
    padding-top: 2%;
    opacity: 0.8 ;
    transition: 1s;
    color: #955251;
    background: rgba(223, 207, 190, 0.999);
  }
  aside>a:hover{
    color: brown;
    padding-left: 10%;
    background-color: bisque;
    opacity: 1 ;
    font-size: 32px;
    text-shadow:none;
  
  }
  .active{
    color: brown;
    padding-left: 10%;
    background-color: bisque;
    padding-left: 20%;
    box-shadow: 5px 5px 10px;
    border-left: 5px solid aqua;
    opacity: 1 ;
    text-shadow:none;
  
  }
  .active:hover{
    padding-left: 25%;
  }