section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product{
    flex-grow: 1;
    padding: 1%;
    min-width: 33%;
    max-width: 50%;
    cursor: pointer;
}
.product:hover{
    box-shadow:  darkred 0.2em 0.2em 0.2em;
}

.product>img{
    height: 60px;
}